@use "reset" as *;
@use "variables" as *;
@use "products" as *;

.activities-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: $cat-black;
  padding: 80px 20px;

  h1 {
    color: $cream-beige;
  }
}

.main-activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .activities-row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .activities-row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
  }
}

.activitybtn {
  background-color: $sun-yellow;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  font-weight: $bold;

  &:hover,
  &:active,
  &:focus {
    background-color: $play-pink;
  }
}

.activity-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 0px;
}
