@use "reset" as *;
@use "variables" as *;

#cartOverlay {
  position: fixed;
  inset: 0;
  z-index: 2000;
  transform: translateX(100%);
  transition: transform 500ms ease;
}

#cartOverlay.open {
  transform: translateX(0);
}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  max-width: 90vw;
  height: 100%;
  background: $sun-yellow;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  height: 36px;

  .cartHeadline {
    margin: 0;
    font-size: 24px;
  }

  .closeBtn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    color: $cat-black;
  }
}

.loadCartItems {
  background-color: $cat-black;
  display: flex;
  flex-direction: column;
  gap: 1px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
