@use "reset" as *;
@use "variables" as *;

.cartItemDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 152px;
  padding: 10px;
  background-color: $cream-beige;
  margin: auto;

  .cartItemImgDiv {
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $sun-yellow;
  }

  .cartItemImg {
    width: 90%;
    max-width: 247px;
  }
}

.cartItemInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 50%;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .brand,
  .price {
    margin: 0px;
    font-size: 14px;
  }

  .name {
    margin: 0px;
    font-weight: bold;
    font-size: 14px;
  }
}

.quantityBtns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .quantityBtn {
    background-color: $sky-blue;
    color: $cat-black;
    border: none;
    border-radius: 20%;
    padding: 10px;
    font-size: 16px;
    font-weight: $bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $play-pink;
      color: $cat-black;
    }
  }

  .quantityNumber {
    background-color: $cream-beige;
    border: none;
    border-radius: 20%;
    padding: 10px;
    font-size: 16px;
    font-weight: $bold;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
