@use "reset" as *;
@use "variables" as *;

#cartOverlay {
  position: fixed;
  inset: 0;
  z-index: 2000;
  transform: translateX(100%);
  transition: transform 500ms ease;
}

#cartOverlay.open {
  transform: translateX(0);
}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  max-width: 90vw;
  height: 100%;
  background: $sun-yellow;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  height: 36px;

  .cartHeadline {
    margin: 0;
    font-size: 24px;
  }

  .closeBtn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    color: $cat-black;
  }
}

.cartText {
  font-size: 16px;
  padding: 10px;
  margin: 0;
}

.cartSection {
  background-color: $cream-beige;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 10px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.loadCartItems {
  background-color: $cream-beige;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.totalPrice {
  font-size: 18px;
  padding: 10px;
  margin: 0;
}

.cartBtnDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
}

.emptyCartBtn {
  background-color: $cat-black;
  color: $cream-beige;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
  font-weight: $bold;
  cursor: pointer;

  &:hover {
    background-color: $play-pink;
    color: $cat-black;
  }
}

.toRegisterBtn {
  background-color: $sky-blue;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
  font-weight: $bold;
  cursor: pointer;
  text-decoration: none;
  color: $cat-black;

  &:hover {
    background-color: $play-pink;
  }
}
