@use "reset" as *;
@use "variables" as *;

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 50px 40px;
  background-color: $sky-blue;

  .footer-row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .footer-row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .logo-div {
    height: 98px;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      width: 90px;
    }
  }

  .information {
    width: 220px;
    height: 98px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
      margin: 0;
      text-decoration: underline;
      cursor: pointer;
    }

    .headline {
      font-weight: $bold;
      text-decoration: none;
      cursor: default;
    }
  }
}
