@use "reset" as *;
@use "variables" as *;

.modal {
  background-color: $cream-beige;
  padding: 20px;
  border: none;
  border-radius: 8px;
  max-width: 90%;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modalDiv {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
  aspect-ratio: 1 / 1;
  width: 320px;

  .productImg {
    max-width: 247px;
    width: 90%;
  }
}

.infoColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;

  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: $medium;
  }

  .productName {
    font-weight: $bold;
  }

  p {
    font-size: 16px;
  }
}

.btnDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .closeInfo {
    background-color: $cat-black;
    color: $cream-beige;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    font-weight: $bold;
    cursor: pointer;

    &:hover {
      background-color: $play-pink;
      color: $cat-black;
    }
  }

  .buyBtn {
    background-color: $sky-blue;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    font-weight: $bold;
    cursor: pointer;

    &:hover {
      background-color: $play-pink;
    }
  }
}
