@use "reset" as *;
@use "variables" as *;

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.icon {
  height: 30px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  a {
    color: $cat-black;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;

    &:hover {
      background-color: $sun-yellow;
    }
  }
}

#cartTotalQuantity {
  background-color: $play-pink;
  padding: 3px 8px;
  border-radius: 50%;
  text-decoration: none;
}
