@use "reset" as *;
@use "variables" as *;

.payment-method-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 50px 40px;
  background-color: $cream-beige;
  justify-content: center;
  align-items: center;

  .payment-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .payment-methods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;

    img {
      width: auto;
      height: 20px;
    }
  }
}
