@use "variables" as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Stack Sans Headline", sans-serif;
  color: $cat-black;
  background-color: $cream-beige;
}
