@use "reset" as *;
@use "variables" as *;

.app {
  background-color: $cream-beige;
  margin: auto;
  width: 80%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.icon {
  height: 30px;
}

.nav-links {
  display: flex;
  gap: 20px;

  a {
    color: $cat-black;
    padding: 10px;
    border-radius: 50px;

    &:hover {
      background-color: $sun-yellow;
    }
  }
}
