@use "reset" as *;
@use "variables" as *;

.app {
  background-color: $cream-beige;
  margin: auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.icon {
  height: 30px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  a {
    color: $cat-black;
    padding: 5px;
    border-radius: 50px;
    font-size: 12px;

    &:hover {
      background-color: $sun-yellow;
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 80px 20px;
  width: 100%;

  .imgdiv {
    display: flex;
    justify-content: center;
    max-width: 90%;
    padding: 10px;

    .hero-cat {
      max-height: 270px;
      max-width: 100%;
    }

    .logo {
      max-height: 82px;
      width: auto;
      max-width: 100%;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: $normal;
    text-align: center;
  }
}
