@use "reset" as *;
@use "variables" as *;

.app {
  background-color: $cream-beige;
  margin: auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.icon {
  height: 30px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  a {
    color: $cat-black;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;

    &:hover {
      background-color: $sun-yellow;
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 80px 20px;
  width: 100%;

  .imgdiv {
    display: flex;
    justify-content: center;
    max-width: 90%;
    padding: 10px;

    .hero-cat {
      max-height: 270px;
      max-width: 100%;
    }

    .logo {
      max-height: 82px;
      width: auto;
      max-width: 100%;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: $thin;
    text-align: center;
    border-bottom: 5px solid $play-pink;
  }
}

.activities-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: $cat-black;
  padding: 80px 20px;

  h1 {
    font-size: 36px;
    font-weight: $medium;
    color: $cream-beige;
  }
}

.main-activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .activities-row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .activities-row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
  }
}

.activitybtn {
  background-color: $sun-yellow;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  font-weight: $bold;

  &:hover {
    background-color: $play-pink;
  }
}

.product-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 80px 40px;
  background-color: $cream-beige;
}

.js-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
  padding: 20px;

  .cardimg {
    width: 280px;
    height: 242px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .productimg {
    width: 100%;
  }
}

.infodiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .brand {
    margin: 0px;
  }

  .name {
    margin: 0px;
    font-weight: bold;
    cursor: pointer;
  }

  .price {
    margin: 0px;
  }
}

.btndiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .infobtn {
    background-color: $cat-black;
    color: $cream-beige;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    font-weight: $bold;
    cursor: pointer;

    &:hover {
      background-color: $play-pink;
      color: $cat-black;
    }
  }

  .buybtn {
    background-color: $sky-blue;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    font-weight: $bold;
    cursor: pointer;

    &:hover {
      background-color: $play-pink;
    }
  }
}

.reviews-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 80px 40px;
  background-color: $cat-black;

  h1 {
    color: $cream-beige;
  }
}

.reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.review {
  width: 320px;
  height: 245px;
  background-color: $cream-beige;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 10px;

  p {
    margin: 0;
    font-size: 20px;
  }
}

.review-yellow {
  background-color: $sun-yellow;
  width: 320px;
  height: 245px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 5px;

  p {
    margin: 0;
    font-size: 20px;
  }
}

.review-text {
  font-weight: $bold;
}

.payment-method-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 50px 40px;
  background-color: $cream-beige;

  .payment-methods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

    img {
      width: auto;
      height: 20px;
    }
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 50px 40px;
  background-color: $sky-blue;

  .footer-row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .footer-row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .logo-div {
    height: 98px;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      width: 90px;
    }
  }

  .information {
    width: 220px;
    height: 98px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
      margin: 0;
      text-decoration: underline;
      cursor: pointer;
    }

    .headline {
      font-weight: $bold;
      text-decoration: none;
      cursor: default;
    }
  }
}
