@use "reset" as *;
@use "variables" as *;
@use "nav" as *;
@use "header" as *;
@use "activities" as *;
@use "products" as *;
@use "modal" as *;
@use "reviews" as *;
@use "payments" as *;
@use "footer" as *;
@use "cart" as *;

.app {
  background-color: $cream-beige;
  margin: auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
